<section data-ng-controller="PetsController">
	<div class="page-header">
		<h1>New Pet</h1>
	</div>
	<div class="col-md-12">
		<form name="petForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<h3>General</h3>
				<div class="form-group" ng-class="{ 'has-error': petForm.title.$dirty && petForm.title.$invalid }">
					<label class="control-label" for="name">Nombre</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="pet.general.name" id="name" class="form-control" placeholder="Nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="color">Color</label>
					<div class="controls">
						<input type="text" name="color" data-ng-model="pet.general.color" id="color" class="form-control" placeholder="Color"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="breed">Raza</label>
					<div class="controls">
						<input type="text" name="breed" data-ng-model="pet.general.breed" id="breed" class="form-control" placeholder="Raza"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dateOfBirth">Fecha de Nacimiento</label>
					<div class="controls">
						<input type="date" name="dateOfBirth" data-ng-model="pet.general.dateOfBirth" id="dateOfBirth" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="general_comments">Comentarios</label>
					<div class="controls">
						<textarea name="general_comments" data-ng-model="pet.general.comments" id="general_comments" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<h3>Información de Contacto</h3>
				<div class="form-group" ng-class="{ 'has-error': petForm.title.$dirty && petForm.title.$invalid }">
					<label class="control-label" for="contactName">Nombre de contacto</label>
					<div class="controls">
						<input name="contactName" type="text" data-ng-model="pet.contact.contactName" id="contactName" class="form-control" placeholder="Nombre" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="primaryNumber">Numero de contacto</label>
					<div class="controls">
						<input type="text" name="primaryNumber" data-ng-model="pet.contact.primaryNumber" id="primaryNumber" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="alternativeNumber1">Numero de contacto alternativo 1</label>
					<div class="controls">
						<input type="text" name="alternativeNumber1" data-ng-model="pet.contact.alternativeNumber1" id="alternativeNumber1" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="alternativeNumber2">Numero de contacto alternativo 2</label>
					<div class="controls">
						<input type="text" name="alternativeNumber2" data-ng-model="pet.contact.alternativeNumber2" id="alternativeNumber2" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email de contacto</label>
					<div class="controls">
						<input type="text" name="email" data-ng-model="pet.contact.email" id="email" class="form-control" placeholder="email@email.com"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="facebook">Facebook</label>
					<div class="controls">
						<input type="text" name="facebook" data-ng-model="pet.contact.facebook" id="facebook" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="twitter">Twitter</label>
					<div class="controls">
						<input type="text" name="twitter" data-ng-model="pet.contact.twitter" id="twitter" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<h3>Información de Contacto</h3>
				<div class="form-group">
					<label class="control-label" for="vetName">Veterinaria</label>
					<div class="controls">
						<input type="text" name="vetName" data-ng-model="pet.veterinarian.vetName" id="vetName" class="form-control" placeholder="Nombre"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="vetPhone">Numero de la Veterinaria</label>
					<div class="controls">
						<input type="text" name="vetPhone" data-ng-model="pet.veterinarian.vetPhone" id="vetPhone" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="vetAddress">Dir. de la Veterinaria</label>
					<div class="controls">
						<input type="text" name="vetAddress" data-ng-model="pet.veterinarian.vetAddress" id="vetAddress" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<h3>Información Médica</h3>
				<div class="form-group">
					<label class="control-label" for="petSex">Sexo</label>
					<div class="controls">
						<input type="text" name="petSex" data-ng-model="pet.petMedications.petSex" id="petSex" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petMedications">Medicación</label>
					<div class="controls">
						<input type="text" name="petMedications" data-ng-model="pet.petMedications.petMedications" id="petMedications" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petDietary">Dieta</label>
					<div class="controls">
						<input type="text" name="petDietary" data-ng-model="pet.petMedications.petDietary" id="petDietary" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petAllergies">Alérgias</label>
					<div class="controls">
						<input type="text" name="petAllergies" data-ng-model="pet.petMedications.petAllergies" id="petAllergies" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petMedicalComments">Commentarios</label>
					<div class="controls">
						<input type="text" name="petMedicalComments" data-ng-model="pet.petMedications.petMedicalComments" id="petMedicalComments" class="form-control" placeholder="Numero"></textarea>
					</div>
				</div>
				<h3>Vacunación</h3>
				<div class="form-group">
					<label class="control-label" for="petIsRabies">Antirabica</label>
					<div class="controls">
						<input type="text" name="petIsRabies" data-ng-model="pet.vaccination.petIsRabies" id="petIsRabies" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petRabiesVacDate">Fecha de Vac Antirabica</label>
					<div class="controls">
						<input type="text" name="petRabiesVacDate" data-ng-model="pet.vaccination.petRabiesVacDate" id="petRabiesVacDate" class="form-control" placeholder="Fecha"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="petAddtionalVac">Vac. Adicionales</label>
					<div class="controls">
						<input type="text" name="petAddtionalVac" data-ng-model="pet.vaccination.petAddtionalVac" id="petAddtionalVac" class="form-control" placeholder=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>